{% extends 'base.html' %}
{% load static %}

{% block main %}
<style>
    body {
        background-color: #f8f9fa; /* Un gris claro para el fondo */
    }

    h1 {
        color: #2c3e50; /* Azul oscuro para el título */
        font-weight: bold;
        margin-bottom: 20px;
    }

    .card {
        border: none;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .bg-primary {
        background-color: #007bff !important; /* Azul para las tarjetas de Saldo Actual */
    }

    .bg-success {
        background-color: #28a745 !important; /* Verde para las tarjetas de Saldo Futuro */
    }

    .bg-light {
        background-color: #ffffff !important; /* Blanco para otras tarjetas */
    }
</style>

<!-- Grafico Categorias -->
<style>
    #google-chart-container-categorias {
        overflow: hidden; /* Evita que el contenido salga de los límites */
    }
    #google-piechart-categorias{
        margin-top: -35%;
    }
</style>

<!-- Grafico Metas -->
<style>
    #google-chart-container-metas {
        overflow: hidden; /* Evita que el contenido salga de los límites */
    }
    #google-piechart-metas {
    margin-top: -30%;
}
</style>

<div class="container my-4">
    <header class="text-center mb-4">
        <div class="d-flex justify-content-center align-items-center">
            <!-- Logo Section -->
            <img src="{% static 'img/imagen-prueba.jpeg' %}" alt="Logo" style="width: 60px; height: auto; margin-right: 10px;">
            <h1>Saldo Actual y Estimado</h1>
        </div>
    </header>

    <!-- KPI Cards for Saldo Actual y Saldo Futuro -->
    <div class="row my-4">
        <div class="col-md-4 offset-md-2 text-center">
            <div class="card p-3 bg-primary text-white">
                <h5>Saldo Actual</h5>
                <h3 id="saldo-actual">$0.00</h3>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="card p-3 bg-success text-white">
                <h5>Saldo Futuro</h5>
                <h3 id="saldo-futuro">$0.00</h3>
            </div>
        </div>
    </div>

    <!-- Filter Section -->
    <div class="row my-3 justify-content-center align-items-center">
        <div class="col-md-2 text-end">
            <label for="filtro-tiempo" class="form-label">Proyección hacia:</label>
        </div>
        <div class="col-md-4 text-center">
            <select class="form-select" id="filtro-tiempo" onchange="actualizarSaldoFuturo()">
                <option value="1" selected>Próximo mes</option>
                <option value="2">Próximos 2 meses</option>
                <option value="3">Próximos 3 meses</option>
            </select>
        </div>
    </div>

    <!-- Charts Section -->
    <div class="row">
        <div class="col-md-8">
            <div class="card p-3 bg-light text-center">
                <h5>Históricos de Saldos en los Últimos Meses</h5>
                
                <!-- Grafico de Saldos -->
                <div class="google-chart-container-historico-saldos">
                    <div id="saldoChart" style="width: 100%; height: 400px;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3 bg-light text-center">
                <h5>Porcentaje de Categorías</h5>
                
                <!-- Selector de Gastos o Ingresos-->
                <div class="col-md-4 mb-3 mx-auto">
                    <div class="d-flex justify-content-center align-items-center">
                        <span class="me-2">Gastos</span>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="montoSwitch" name="montoSwitch">
                        </div>
                        <span class="ms-2">Ingresos</span>
                    </div>
                </div>
                
                <!-- Gráfico de Categorías -->
                <div class="col-12 d-flex justify-content-center mt-4">
                    <div id="google-chart-container-categorias">
                        <div id="google-piechart-categorias" style="width: 400px; height: 400px;"></div>
                    </div>           
                    <div class="alert alert-warning" role="alert" id="mensaje-resultados-categorias" style="display: none;">
                        No hay datos registrados.
                    </div>
                </div>
                
                <!-- Gráfico de Metas -->
                <h5>Porcentaje de Metas Cumplidas</h5>
                <div class="col-12 d-flex justify-content-center mt-4">
                    <div id="google-chart-container-metas">
                        <div id="google-piechart-metas" style="width: 400px; height: 400px;"></div>
                    </div>           
                    <div class="alert alert-warning" role="alert" id="mensaje-resultados-metas" style="display: none;">
                        No hay datos registrados.
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!-- Saldo actual y futuro -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        fetchSaldoActual();
        fetchSaldoFuturo();
    });

    function fetchSaldoActual() {
        fetch('{% url "saldo_actual" %}')
            .then(response => response.json())
            .then(data => {
                const saldoActual = parseFloat(data.saldo_actual).toFixed(2);
                document.getElementById('saldo-actual').textContent = `$${saldoActual}`;
            })
            .catch(error => console.error('Error fetching saldo actual:', error));
    }

    function fetchSaldoFuturo() {
        fetch('{% url "saldo_futuro" %}')
            .then(response => response.json())
            .then(data => {
                window.saldoFuturoData = data;
                actualizarSaldoFuturo();
            })
            .catch(error => console.error('Error fetching saldo futuro:', error));
    }

    function actualizarSaldoFuturo() {
        const filtro = document.getElementById('filtro-tiempo').value;
        let saldoFuturo;
        if (filtro === '1') {
            saldoFuturo = parseFloat(window.saldoFuturoData.saldo_futuro_1_mes).toFixed(2);
        } else if (filtro === '2') {
            saldoFuturo = parseFloat(window.saldoFuturoData.saldo_futuro_2_meses).toFixed(2);
        } else if (filtro === '3') {
            saldoFuturo = parseFloat(window.saldoFuturoData.saldo_futuro_3_meses).toFixed(2);
        }
        document.getElementById('saldo-futuro').textContent = `$${saldoFuturo}`;
    }
    
</script>


<!-- Grafico Categorias -->
<script>
    // Obtengo el contexto
    var context = JSON.parse('{{ context|escapejs }}');
    var ingresosPorCategoria = context.ingresos_por_categoria;
    var gastosPorCategoria = context.gastos_por_categoria;
    var resultadosPorCategoria;
    var hayResultados = context.hay_resultados;

    // Muestra el título del gráfico que corresponda según el tipo de datos (ingresos o gastos)
    let tituloGrafico;
    const montoSwitch = document.getElementById("montoSwitch");

    // Lógica para establecer los resultadosPorCategoria y el títuloGrafico por defecto
    if (montoSwitch.checked) {
        if (Array.isArray(ingresosPorCategoria) && ingresosPorCategoria.length > 0) {
            resultadosPorCategoria = ingresosPorCategoria;
            tituloGrafico = "Distribución de Ingresos";
        } else {
            console.log("No hay datos disponibles en ingresos por categoría");
        }
    } else {
        if (Array.isArray(gastosPorCategoria) && gastosPorCategoria.length > 0) {
            resultadosPorCategoria = gastosPorCategoria;
            tituloGrafico = "Distribución de Gastos";
        } else {
            console.log("No hay datos disponibles en gastos por categoría");
        }
    }

    // Lógica para mostrar/ocultar elementos
    if (hayResultados) {
        document.getElementById('google-chart-container-categorias').style.display = 'block';
        document.getElementById('mensaje-resultados-categorias').style.display = 'none';
    } else {
        document.getElementById('google-chart-container-categorias').style.display = 'none';
        document.getElementById('mensaje-resultados-categorias').style.display = 'block';
    }

    // Configuración del gráfico
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Categoría');
        data.addColumn('number', 'Porcentaje');
        data.addColumn({ type: 'string', role: 'tooltip', p: { 'html': true } });

        // Verifica que resultadosPorCategoria no sea undefined y sea un array
        if (Array.isArray(resultadosPorCategoria)) {
            resultadosPorCategoria.forEach(function (item) {
                var tooltipContent = `
                    <div>
                        <strong>Categoría: ${item.categoria__nombre}</strong><br>
                        Monto: $${item.total}<br>
                        Porcentaje: ${item.porcentaje.toFixed(2)}%
                    </div>`;
                data.addRow([item.categoria__nombre, item.porcentaje, tooltipContent]);
            });
        } else {
            console.error("resultadosPorCategoria no es un array:", resultadosPorCategoria);
        }

        var options = {
            pieSliceText: 'percentage',
            slices: {
                0: { color: '#FF6384' },
                1: { color: '#36A2EB' },
                2: { color: '#FFCE56' },
                3: { color: '#4BC0C0' }
            },
            legend: { position: 'right', alignment: 'center' },
            tooltip: { isHtml: true }
        };

        var chart = new google.visualization.PieChart(document.getElementById('google-piechart-categorias'));
        chart.draw(data, options);
    }

    // Manejo del cambio en el switch
    montoSwitch.addEventListener("change", function () {
        if (this.checked) {
            resultadosPorCategoria = ingresosPorCategoria;
            tituloGrafico = "Distribución de Ingresos";
        } else {
            resultadosPorCategoria = gastosPorCategoria;
            tituloGrafico = "Distribución de Gastos";
        }
        
        // Redibuja el gráfico con la nueva configuración
        drawChart();
    });
</script>

<!-- Grafico Metas -->
<script>
    // Cargar la librería de Google Charts
    google.charts.load('current', { packages: ['corechart'] });
    google.charts.setOnLoadCallback(initializeCharts);

    // Obtener Metas del contexto
    var context = JSON.parse('{{ context|escapejs }}');
    var metasCumplidas = context.metas_cumplidas || 0;
    var metasNoCumplidas = context.metas_no_cumplidas || 0;
    var chart; // Variable para guardar la instancia del gráfico

    // Inicializa los gráficos y dibuja el gráfico de metas
    function initializeCharts() {
        drawMetasChart();

    }

    // Función para dibujar el gráfico de metas
    function drawMetasChart() {
        var data = google.visualization.arrayToDataTable([
            ['Estado', 'Porcentaje'],
            ['Cumplidas', metasCumplidas],
            ['No Cumplidas', metasNoCumplidas]
        ]);

        var options = {
            pieSliceText: 'percentage',
            pieHole: 0.4, // convierte el gráfico en un gráfico de anillo
            slices: {
                0: { color: '#4CAF50' }, // Color para "Cumplidas"
                1: { color: '#F44336' }  // Color para "No Cumplidas"
            },
            legend: { position: 'right', alignment: 'center' },
            tooltip: { isHtml: true }
        };

        // Verifica si el gráfico ya está creado
        if (!chart) {
            chart = new google.visualization.PieChart(document.getElementById('google-piechart-metas'));
        }

        // Dibuja el gráfico
        chart.draw(data, options);

        // Manejo de la visualización del gráfico
        document.getElementById('google-chart-container-metas').style.display = (metasCumplidas > 0 || metasNoCumplidas > 0) ? 'block' : 'none';
        document.getElementById('mensaje-resultados-metas').style.display = (metasCumplidas > 0 || metasNoCumplidas > 0) ? 'none' : 'block';
    }
</script>


<!-- Gráfico Histórico de Saldos -->
<script>
    window.onload = function() {
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(initializeCharts);
    };


    // Inicializa los gráficos y dibuja el gráfico de histórico de saldos
    function initializeCharts() {
        drawHistoricoSaldosChart();
    }

    // Función para dibujar el gráfico de histórico de saldos
    function drawHistoricoSaldosChart() {
        var saldosHistoricos = [
            { mes: 'Enero', saldo: 500 },
            { mes: 'Febrero', saldo: 600 },
            { mes: 'Marzo', saldo: 700 },
            { mes: 'Abril', saldo: 800 },
            { mes: 'Mayo', saldo: 650 },
            { mes: 'Junio', saldo: 900 },
            { mes: 'Julio', saldo: 1100 },
            { mes: 'Agosto', saldo: 1000 },
            { mes: 'Septiembre', saldo: 950 },
            { mes: 'Octubre', saldo: 1050 },
            { mes: 'Noviembre', saldo: 1200 },
            { mes: 'Diciembre', saldo: 1300 }
        ];

        // Verifica que saldosHistoricos no sea undefined y sea un array
        if (!Array.isArray(saldosHistoricos) || saldosHistoricos.length === 0) {
            console.error("saldosHistoricos no tiene datos válidos:", saldosHistoricos);
            document.getElementById('saldoChart').style.display = 'none'; // Oculta el gráfico si no hay datos
            document.getElementById('mensaje-resultados-historico-saldos').style.display = 'block'; // Muestra el mensaje
            return; // Salimos de la función si no hay datos para dibujar
        }

        // Prepara los datos para el gráfico
        var data = [['Mes', 'Saldo']];
        saldosHistoricos.forEach(function(item) {
            data.push([item.mes, item.saldo]);
        });

        // Crea la tabla de datos para Google Charts
        var dataTable = google.visualization.arrayToDataTable(data);

        // Opciones del gráfico
        var options = {
            hAxis: {
                title: 'Mes'
            },
            vAxis: {
                title: 'Saldo'
            },
            legend: 'none'
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('saldoChart'));
        chart.draw(dataTable, options);

        // Mostrar el gráfico
        const chartContainer = document.getElementById('google-chart-container-historico-saldos');
        const messageContainer = document.getElementById('mensaje-resultados-historico-saldos');
        if (chartContainer && messageContainer) {
            chartContainer.style.display = 'block';
            messageContainer.style.display = 'none';
        }
    }
</script>


{% endblock %}